<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>睡眠环境数据看板</title>
    <link rel="stylesheet" href="css/app.css" />

</head>

<body>
<div class="header">
    <h1 class="header-title">卧室睡眠环境质量数据指标</h1>
</div>
<div class="wrapper">
    <div class="content">
        <div class="col col-l">
            <div class="xpanel-wrapper xpanel-wrapper-40">
                <div class="xpanel xpanel-l-t">
                    <div class="title">噪声</div>
                    <div class="xpanel" id="noise"></div>
                </div>
            </div>
            <div class="xpanel-wrapper xpanel-wrapper-60">
                <div class="xpanel xpanel-l-b">
                    <div class="title">温度&湿度</div>
                    <div class="xpanel" id="temp-humidity"></div>
                </div>
            </div>
        </div>
        <div class="col col-c">
            <div class="xpanel-wrapper xpanel-wrapper-25" style="margin-left: 10%">
                <div class="xpanel no-bg">
                        <table class="data-t">
                            <tbody><tr>
                                <th><img src="img/icon-01.png"></th>
                                <td>
                                    <p><span id="score">0</span></p>
                                    <p>睡眠分数</p>
                                </td>
                                <th><img src="img/icon-02.png"></th>
                                <td>
                                    <p><span id="heart-rate">0</span></p>
                                    <p>平均心率</p>
                                </td>
                            </tr>
                            <tr>
                                <th><img src="img/icon-03.png"></th>
                                <td>
                                    <p><span id="start-at">0</span></p>
                                    <p>入眠时间</p>
                                </td>
                                <th><img src="img/icon-04.png"></th>
                                <td>
                                    <p><span id="end-at">0</span></p>
                                    <p>苏醒时间</p>
                                </td>
                            </tr>
<!--                            <tr>-->
<!--                                <th><img src="img/icon-05.png"></th>-->
<!--                                <td>-->
<!--                                    <p><span id="remTime">0</span></p>-->
<!--                                    <p>轻度睡眠时间</p>-->
<!--                                </td>-->
<!--                                <th><img src="img/icon-06.png"></th>-->
<!--                                <td>-->
<!--                                    <p><span id="deepTime">0</span></p>-->
<!--                                    <p>深度睡眠时间</p>-->
<!--                                </td>-->
<!--                            </tr>-->
                            </tbody></table>
                </div>
            </div>
            <div class="xpanel-wrapper" style="height: 35%">
                <div class="xpanel no-bg">
                    <div class="title title-long">睡眠周期</div>
                    <div id="sleep-route" class="xpanel"></div>
                </div>
            </div>
            <div class="xpanel-wrapper" style="height: 40%">
                <div class="xpanel no-bg">
                    <div class="title title-long">每周睡眠周期</div>
                    <div id="week-sleep-info" class="xpanel"></div>
                </div>
            </div>
        </div>
        <div class="col col-r">
            <div class="xpanel-wrapper xpanel-wrapper-40">
                <div class="xpanel xpanel-r-t">
                    <div class="title">光度</div>
                    <div class="xpanel" id="light"></div>
                </div>
            </div>
<!--            <div class="xpanel-wrapper xpanel-wrapper-30">-->
<!--                <div class="xpanel xpanel-r-m">-->
<!--                    <div class="title"></div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="xpanel-wrapper xpanel-wrapper-60">
                <div class="xpanel xpanel-r-b" >
                    <div class="title">Air Quality Indicator</div>
                    <div class="xpanel" id="air-quality"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/echarts.js"></script>
<script src="js/temperature-humidity.js"></script>
<script src="js/light.js"></script>
<script src="js/noise.js"></script>
<script src="js/air-quality.js"></script>
<script src="js/sleepinfo.js"></script>
<script>
    window.addEventListener("resize",function (){
        tempCharts.resize();
        noiseCharts.resize();
        airCharts.resize();
        lightCharts.resize();
        weekSleepCharts.resize();
        sleepCharts.resize();
    })
</script>
</html>